<div class="chat">
    <div class="no-conversation-message" *ngIf="!messagesFound">
        No conversation found.
    </div>

    <div class="user-chat" *ngIf="messagesFound" #userChat (scroll)="onScroll(userChat)">

        <div *ngFor="let eachMessage of messages" class="messages">
            <div *ngIf="!eachMessage.isFile" class="text-chat">
                <li *ngIf="eachMessage.isEditing==false" (contextmenu)="openContextMenu($event, eachMessage)"
                    [ngClass]="['message-block', eachMessage.senderId == loggedInUserId ? 'sentClass' : 'receivedClass']">

                    {{eachMessage.content}}

                </li>
            </div>
            <div *ngIf="eachMessage.isFile" class="text-chat">
                <li (contextmenu)="openContextMenu($event, eachMessage)"
                    [ngClass]="['file-block', eachMessage.senderId == loggedInUserId ? 'sentClass' : 'receivedClass']">
                    <div *ngIf="eachMessage.attachedFiles && eachMessage.attachedFiles.length>1">

                        <div *ngFor="let eachFile of eachMessage.attachedFiles">
                            <div [ngSwitch]="eachFile.contentType" class="multiple-files-container">
                                <div class="multiple-files">
                                    <div class="multiple-file-title">
                                        <img *ngSwitchCase="'image/png'"
                                            src="../../../../assets/SharedFiles/{{eachFile.uniqueFileName}}"
                                            class="file-logos">
                                        <img *ngSwitchCase="'application/pdf'" src="../../../../assets/Logos/pdf.png"
                                            class="file-logos">
                                        <img *ngSwitchCase="'image/jpeg'"
                                            src="../../../../assets/Logos/jpg-file-format-variant.png"
                                            class="file-logos">
                                        <img *ngSwitchCase="'video/mp4'" src="../../../../assets/Logos/video.png"
                                            class="file-logos">
                                        <div class="multiple-file-name">{{eachFile.fileName}}</div>
                                    </div>
                                    <i class="fa-regular fa-circle-down"
                                        (click)="onDownload(eachFile.fileId, eachFile.fileName)"></i>
                                </div>


                            </div>

                        </div>

                    </div>

                    <div *ngIf="eachMessage.attachedFiles && eachMessage.attachedFiles.length ==1">

                        <div [ngSwitch]="eachMessage.attachedFiles[0].contentType" class="single-file-container">
                            <div class="single-file">
                                <div class="single-file-title">
                                    <img *ngSwitchCase="'image/png'"
                                        src="../../../../assets/SharedFiles/{{eachMessage.attachedFiles[0].uniqueFileName}}"
                                        class="image-files">
                                    <img *ngSwitchCase="'image/jpeg'"
                                        src="../../../../assets/SharedFiles/{{eachMessage.attachedFiles[0].uniqueFileName}}"
                                        class="image-files">

                                    <video *ngSwitchCase="'video/mp4'" class="video-files" id="videoPlayer">
                                        <source
                                            src="../../../../assets/SharedFiles/{{eachMessage.attachedFiles[0].uniqueFileName}}"
                                            (click)="playVideo(eachMessage.attachedFiles[0].uniqueFileName)"
                                            type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div *ngSwitchCase="'text/plain'" #singleTextFile id="text-files">
                                        <div class="single-file-name">{{eachMessage.attachedFiles[0].fileName}}</div>
                                        <!-- <div *ngIf="filePreview">{{filePreview(eachMessage.attachedFiles[0].uniqueFileName)}}</div> -->
                                        <!-- <div *ngIf="filePreview(eachMessage.attachedFiles[0].uniqueFileName) != null">
                                            {{ filePreview(eachMessage.attachedFiles[0].uniqueFileName) }}
                                          </div> -->


                                    </div>

                                </div>
                                <i class="fa-regular fa-circle-down"
                                    (click)="onDownload(eachMessage.attachedFiles[0].fileId, eachMessage.attachedFiles[0].fileName)"></i>
                            </div>

                        </div>

                    </div>

                    <div class="caption">{{eachMessage.content}}</div>

                </li>
            </div>

            <li *ngIf="eachMessage.isEditing==true"
                [ngClass]="['message-block', eachMessage.senderId == loggedInUserId ? 'sentClass' : 'receivedClass']">

                <form [formGroup]="editForm">
                    <input formControlName="editedMessage" class="editInput">
                    <button type="submit" (click)="onSaveChanges()" class="optionButton">
                        Save
                    </button>

                    <button (click)="onCancelChanges()" class="optionButton">
                        Cancel
                    </button>
                </form>
            </li>
        </div>

        <div *ngIf="contextMenuVisible" [style.left.px]="contextMenuX" [style.top.px]="contextMenuY"
            class="context-menu">


            <li (click)="onEditMessage()" class="option">Edit</li>
            <li (click)="onDeleteMessage()" class="option">Delete</li>

        </div>
    </div>

    <div class="message-box-container">
        <form class="message-box" [formGroup]="sendForm">
            <div class="input-file">
                <div class="input-container">
                    <input placeholder="Message" class="input" formControlName="message">
                </div>
                <div *ngIf="selectedFiles.length > 0" class="multiple-selected-files">
                    <div *ngFor="let eachFile of selectedFiles" class="selectedFile">
                        <div class="selected-files-names">
                            <div [ngSwitch]="eachFile.type">
                                <img *ngSwitchCase="'image/png'" src="../../../../assets/Logos/png.png"
                                    class="file-logos">
                                <img *ngSwitchCase="'application/pdf'" src="../../../../assets/Logos/pdf.png"
                                    class="file-logos">
                                <img *ngSwitchCase="'video/mp4'" src="../../../../assets/Logos/video.png"
                                    class="file-logos">
                            </div>
                            <div>
                                {{eachFile.name}}
                            </div>
                            <i class="fa-solid fa-xmark" (click)="onDelete(eachFile.name)"></i>
                        </div>
                    </div>

                </div>
            </div>

            <button id="attachButton" (click)="attachFile()">Attach</button>
            <input type="file" #fileInput id="fileInput" class="file-attach" formControlName="file"
                accept=".jpg, .png, .pdf, .jpeg, .mp4" (change)="onFileSelected($event)" multiple>
            <button type="submit" (click)="onSendMessage()" class="sendButton">Send</button>
        </form>
    </div>


</div>