<div class="chat">
    <div class="no-conversation-message" *ngIf="!messagesFound">
        No conversation found.
    </div>

    <div class="user-chat" *ngIf="messagesFound" #userChat (scroll)="onScroll(userChat)">

        <div *ngFor="let eachMessage of messages" class="messages">
            <div *ngIf="!eachMessage.isFile" class="text-chat">
                <li *ngIf="eachMessage.isEditing==false" (contextmenu)="openContextMenu($event, eachMessage)"
                    [ngClass]="['message-block', eachMessage.senderId == loggedInUserId ? 'sentClass' : 'receivedClass']">

                    {{eachMessage.content}}

                </li>
            </div>
            <div *ngIf="eachMessage.isFile" class="text-chat">
                <li (contextmenu)="openContextMenu($event, eachMessage)"
                    [ngClass]="['file-block', eachMessage.senderId == loggedInUserId ? 'sentClass' : 'receivedClass']">
                    <div *ngFor="let eachFile of eachMessage.attachedFiles">
                        <div [ngSwitch]="eachFile.contentType" class="multiple-files">
                            <div class="file">
                                <div class="title">
                                    <img *ngSwitchCase="'image/png'"
                                        src="../../../../assets/SharedFiles/{{eachFile.uniqueFileName}}"
                                        class="file-logos">
                                    <img *ngSwitchCase="'application/pdf'" src="../../../../assets/Logos/pdf.png"
                                        class="file-logos">
                                    <img *ngSwitchCase="'image/jpeg'"
                                        src="../../../../assets/SharedFiles/{{eachFile.uniqueFileName}}"
                                        class="file-logos">
                                    <div class="file-name">{{eachFile.fileName}}</div>
                                </div>
                                <i class="fa-regular fa-circle-down"
                                    (click)="onDownload(eachFile.fileId, eachFile.fileName)"></i>
                            </div>
    
                            
                        </div>
                       
                    </div>
                    <div class="caption">{{eachMessage.content}}</div>

                </li>
            </div>

            <li *ngIf="eachMessage.isEditing==true"
                [ngClass]="['message-block', eachMessage.senderId == loggedInUserId ? 'sentClass' : 'receivedClass']">

                <form [formGroup]="editForm">
                    <input formControlName="editedMessage" class="editInput">
                    <button type="submit" (click)="onSaveChanges()" class="optionButton">
                        Save
                    </button>

                    <button (click)="onCancelChanges()" class="optionButton">
                        Cancel
                    </button>
                </form>
            </li>
        </div>

        <div *ngIf="contextMenuVisible" [style.left.px]="contextMenuX" [style.top.px]="contextMenuY"
            class="context-menu">


            <li (click)="onEditMessage()" class="option">Edit</li>
            <li (click)="onDeleteMessage()" class="option">Delete</li>

        </div>
    </div>

    <div class="message-box-container">
        <form class="message-box" [formGroup]="sendForm">
            <div class="input-file">
                <div class="input-container">
                    <input placeholder="Message" class="input" formControlName="message">
                </div>
                <div *ngIf="selectedFiles.length > 0" class="selectedFile">
                    <div *ngFor="let eachFile of selectedFiles">
                        <div class="fileName">
                            <div [ngSwitch]="eachFile.type">
                                <img *ngSwitchCase="'image/png'" src="../../../../assets/Logos/png.png" class="file-logos">
                                <img *ngSwitchCase="'application/pdf'" src="../../../../assets/Logos/pdf.png"
                                    class="file-logos">
                            </div>
                            <div>
                                {{eachFile.name}}
                            </div>
                            <i class="fa-solid fa-xmark" (click)="onDelete(eachFile.name)"></i>
                        </div>
                    </div>
                    
                </div>
            </div>

            <button id="attachButton" (click)="attachFile()">Attach</button>
            <input type="file" #fileInput id="fileInput" class="file-attach" formControlName="file"
                accept=".jpg, .png, .pdf, .jpeg" (change)="onFileSelected($event)" multiple>
            <button type="submit" (click)="onSendMessage()" class="sendButton">Send</button>
        </form>
    </div>


</div>